body {
    font-family: 'Montserrat', 'segoe ui' !important;
    position: relative;
    margin: auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.force-hide {
    display: none!important
}

.force-display {
    display: block !important;
}

.text-center {
    text-align: center;
}

input {
    outline: none;
}

button {
    border: none;
    outline: none;
    font-family: 'Montserrat', 'segoe ui' !important;
}

button:focus {
    outline: none;
}

a {
    color: inherit !important;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../images/r-architecture-WQCkior21Gc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.roller {
    border: 2px solid white;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border-left: 2px solid #56b3431e;
    border-right: 2px solid #56b3431e;
}

.roller-div {
    display: flex;
    justify-content: center;
}

.loader-contn {
    background: #00000083;
    height: 100vh;
}

.loader-text {
    padding: 1rem;
}

.roller-div h1 {
    font-weight: 300;
    color: white;
}

.loader-text h1 {
    font-weight: lighter;
    color: white;
    font-size: 20px;
}

.green {
    color: #56b343;
}

.roller-div i {
    transform: translateY(-1px);
    position: absolute;
    padding: 1.3rem;
}

.dashboard {
    height: 100vh;
    position: fixed;
}

.borderb {
    border: 1px solid rgba(128, 128, 128, 0.007);
}

.header {
    height: 25vh;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../images/header_dash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.body {
    height: 65vh;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    height: 9.7vh;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.226);
}

.hello {
    margin-top: 15px;
    text-transform: capitalize;
}

.welcome-msg {
    margin-top: 15px;
}

.user-image {
    height: 15vh;
    padding-right: 0;
    padding-left: 15px;
}

.image {
    width: 100%;
    height: 10.67vh;
    border: 1px solid white;
    margin-top: 15px;
    padding: 15px;
}

.image i {
    font-size: 30px;
}

.footer i {
    font-size: 20px;
}

.date,
.time {
    margin-top: 3px;
    padding-left: 13px;
}

.climate {
    height: 15vh;
    position: relative;
    top: -9vh;
    background: white;
    font-size: 12px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.226);
}

.energy i {
    font-size: 34px !important;
}

.temp hr {
    width: 95%;
    margin-block-end: 2px;
    margin-block-start: 3px;
}

.rooms {
    position: relative;
    display: flex;
    overflow: scroll;
    top: -7vh;
    height: 100%;
}

.room-block {
    height: 50px;
    min-width: 150px;
    margin-right: 15px;
    padding: 13px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.267);
    border: 1px solid rgba(128, 128, 128, 0.075);
}

.active-room {
    box-shadow: 0 0px 10px #00000052;
    background: #0000001f;
}

.room-block:hover {
    box-shadow: 0 0px 10px #00000052;
    background: #0000001f;
}

.dev {
    position: relative;
    height: 42vh;
    bottom: 60vh;
}

.kitchen-dev {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100%;
}

.room-block-inner {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.267);
    border: 1px solid rgba(128, 128, 128, 0.075);
    height: 16.5vh;
    padding: 1.5rem;
}

.room-block-inner:hover {
    box-shadow: 0 0px 10px #00000052;
    background: #0000001f;
}

.ml {
    margin-left: 15px;
}

.mr {
    margin-right: 15px;
}

.mt {
    margin-top: 15px;
}

.mb {
    margin-bottom: 15px;
}

.display-flex {
    display: flex;
    justify-content: center;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}