body {
    font-family: 'Montserrat', 'segoe ui' !important;
    position: relative;
}

.main-body {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.background-body {
    background-image: url(../images/r-architecture-WQCkior21Gc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    width: 100%;
    position: fixed;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.force-hide {
    display: none!important
}

.force-display {
    display: block !important;
}

input {
    outline: none;
}

button {
    border: none;
    outline: none;
    font-family: 'Montserrat', 'segoe ui' !important;
}

button:focus {
    outline: none;
}

a {
    color: inherit !important;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.form-contn {
    background: #00000083;
    position: relative;
    padding: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4rem;
}

.avatar-par {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0 !important;
}

.avatar-child {
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 35px;
    margin-top: 2.7rem;
}

.avatar {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-bottom: 3px;
    margin-top: -1rem;
}

.avatar i {
    border: 0.5px solid white;
    padding: 1rem;
    font-size: 40px;
    min-width: 100%;
}

.avatar-contn {
    padding-top: 0 !important;
}

.sub-login {
    font-size: 13px;
}

.sub-login a {
    opacity: 0.7;
    color: #1f6fe7 !important;
}

.sub-login a:hover {
    opacity: 1;
    text-decoration: underline;
}

.userform {
    padding: 0;
}

.userform div {
    padding: 10px;
}

.user-form-contn {
    margin-top: -1rem;
}

.user-form-contn h4 {
    font-weight: 400;
}

.user-form-contn input {
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid #56b34365;
    padding: 6px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    padding-left: 30px;
}

.user-form-contn input[type="text"],
.user-form-contn input[type="email"],
.user-form-contn input[type="password"] {
    color: #ffffff93;
    background: #00000083;
    font-weight: lighter;
}

.user-form-contn input[type="text"]:focus,
.user-form-contn input[type="text"]:focus,
.user-form-contn input[type="password"]:focus {
    border: 1.5px solid #56b343;
    color: white;
}

input::placeholder {
    color: #ffffff93;
    font-weight: lighter;
}

.user-form-contn input[type="submit"] {
    border: none;
    background: #56b34394;
    color: white;
    font-weight: lighter;
    font-size: 18px;
}

.user-form-contn input[type="submit"]:hover {
    border: none;
    background: #56b343;
    transition: .50s;
}

.sub-create {
    font-size: 13px;
}

.sub-create a {
    color: #1f6fe7 !important;
}

.sub-create a:hover {
    opacity: 1;
    text-decoration: underline;
}

.login-icon {
    position: absolute;
    left: 0;
    transform: translateX(38px);
    padding-top: 9px;
    color: #ffffff93;
    font-size: 13px;
}

.loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.roller {
    border: 2px solid white;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border-left: 2px solid #56b3431e;
    border-right: 2px solid #56b3431e;
}

.roller-div {
    display: flex;
    justify-content: center;
}

.loader-contn {
    background: #00000083;
    height: 100vh;
}

.loader-text {
    padding: 1rem;
}

.roller-div h1 {
    font-weight: 300;
    color: white;
}

.loader-text h1 {
    font-weight: lighter;
    color: white;
    font-size: 20px;
}

.green {
    color: #56b343;
}

.roller-div i {
    transform: translateY(-1px);
    position: absolute;
    padding: 1.3rem;
}