     @media only screen and (min-width: 700px) {
         /* For desktop: */
         .main-body {
             padding-top: 8%;
         }
         .user-form-contn {
             padding: 1rem;
         }
         .login-icon {
             transform: translateX(47px);
             padding-top: 9.5px;
         }
         .loader-contn-2 {
             position: absolute;
             top: 40%;
         }
     }
     
     @media only screen and (max-width: 1024px) {}