@media only screen and (min-width: 700px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .temp hr {
        width: 95%;
        margin-block-end: 7px;
        margin-block-start: 3px;
        border: none;
        border-top: 1px solid #0000001e;
    }
    body {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .dashboard {
        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.267);
    }
    .climate {
        padding-bottom: 30px !important;
    }
}

@media (min-width: 768px) {
    .col-md-10 {
        -ms-flex: 0 0 80.666667%;
        flex: 0 0 80.666667%;
        width: 80.666667%;
    }
}

@media only screen and (max-width: 1024px) {}